<div class="info-box"
	 [ngStyle]="{'background-color': theColor}">
	<p>This is an info box.</p>
	<div class="techNote">display random number</div>
	<p>random number: <span class="randomNumber">{{randomNumber}}</span></p>
	<div class="techNote">display array of objects with ngFor</div>
	<p [ngStyle]="{'background-color': mainColor, 'color':getRandomColor()}">{{message}} </p>
	<ul>
		<li *ngFor="let book of books">{{book.title}}</li>
	</ul>
	<hr />
	<div class="techNote">ngIf, (click)</div>
	<div *ngIf="books.length >= 2">there are two or more books</div>
	<div *ngIf="isRegistered">User is registered</div>
	<div *ngIf="!isRegistered">User is NOT registered</div>
	<button (click)="isRegistered = true">Register user</button>
	<hr />
	<div class="techNote">ngSwitch, ngModel</div>
	<h3>Type: "mon","tue", or "wed"</h3>
	<div class="dayTest">
		<input type="text"
			   [(ngModel)]="dayOfWeek" />
		<container-element [ngSwitch]="dayOfWeek">
			<div *ngSwitchCase="'mon'">Monday</div>
			<div *ngSwitchCase="'tue'">Tuesday</div>
			<div *ngSwitchCase="'wed'">Wednesday</div>
			<div *ngSwitchDefault>unknown: {{dayOfWeek}}</div>
		</container-element>
	</div>
	<hr />
	<div class="techNote">ngClass</div>
	<div class="theTestMessage"
		 [ngClass]="messageClass">This is the message.</div>
	<div class="classTestButtons">
		<button (click)="messageClass = 'isCorrect'">mark as correct</button>
		<button (click)="messageClass = 'isError'">mark as error</button>
	</div>
</div>